name: CD

env:
  REGISTRY_URL: fra.vultrcr.com/tombola

on:
  push:
    branches:
      - main

jobs:
  run-api:
    name: Run API and Indexer
    runs-on: [self-hosted]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        
      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Pull images
        run: |
          docker pull $REGISTRY_URL/graphql:latest
          docker pull $REGISTRY_URL/indexer:latest
      
      - name: Run Graphql API
        run: |
          docker run -d -e CONFIG_PATH="/app/config.prod.yaml" -p 8001:8001 $REGISTRY_URL/graphql:latest
          
      - name: Run Indexer
        run: |
          docker run -d -e CONFIG_PATH="/app/config.prod.yaml" $REGISTRY_URL/indexer:latest